# macOS
.DS_Store
._*

# Node
node_modules/

# Docusaurus
build/
.docusaurus/

# Test coverage
coverage/

# CLI framework
dist-cli/
*.tsbuildinfo
**/*.tgz
npm-debug.log*
.pnpm-debug.log*
.pnpm-store/
.test-repo/
.framework-test/

#content
.trickfire-docs/
content/*
!content/.gitkeep
**/sidebars.generated.js

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Env
*.env

# dev doc links
dev-fixtures/*
!dev-fixtures/test-subdoc/
